@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.main-content {
  background-color: #2e3035;
  padding-top: 2rem;
}

.my-navbar {
  width: 100vw;
  background-color: #171544;
}

.logo-img {
  width: 6vw;
}

.container-fluid {
  gap: 1rem;
}

.d-flex {
  gap: 1rem;
}
.nav-item {
  display: flex;
}
.search-input-box {
  margin-left: 25rem;
  width: 30vw;
  height: 3.5vh;
}

.search-logo-div {
  border: 1px solid white;
  width: 2.4rem;
  padding: 0.1rem;
}

.search-logo {
  width: 1.5vw;
}

.heading-meme {
  width: 100vw;
  background-color: #171544;
  color: white;
  text-align: center;
  padding: 1rem;
}

.memes-tags-part {
  background-color: #222052;
  width: 80vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.tag-box {
  width: 8%;
  height: 80%;
}

.small-img {
  width: 100%;
}

.meme-parent-div {
  background-color: #222052;
}

.categ {
  font-size: 11px;
  text-align: center;
  color: #ffffff;
}
#imgDiv {
  min-height: 500px;
  width: 1300px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, auto);
}
#imgDiv > div {
  margin: 10px;
  margin-bottom: 20px;
  height: 400px;
  width: 240px;
  border: 1px solid transparent;
  background-color: #474a51;
}
.inflex {
  display: flex;
  justify-content: space-around;
  color: #8e929a;
}

.buttons {
  width: 200px;
  height: 80px;
  margin: auto;
}
.add {
  background-color: #6432f9;
  width: 95px;
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
}
.pro {
  background-color: transparent;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  border: none;
  margin-left: 5px;
}
